In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
datawalk = pd.read_csv('walk.txt', sep=",", header=None)
datawalk.columns = ["x", "y", "z"]
datawalk['x'] = datawalk['x'].map(lambda x: x.lstrip('('))
datawalk['z'] = datawalk['z'].map(lambda x: x.rstrip(')'))
datawalk['Type'] = 'Walk'
datawalk.head()

     x    y      z  Type
0  0.0  0.0   -0.1  Walk
1  0.0  0.0   -0.1  Walk
2  0.0  0.0   -0.1  Walk
3  0.0  0.0   -0.1  Walk
4  0.0  0.0   -0.1  Walk

In [3]:
dataidle = pd.read_csv('Idle.txt', sep=",", header=None)
dataidle.columns = ["x", "y", "z"]
dataidle['x'] = dataidle['x'].map(lambda x: x.lstrip('('))
dataidle['z'] = dataidle['x'].map(lambda x: x.lstrip(')'))
dataidle['Type'] = 'Idle'
dataidle.head()

     x    y    z  Type
0  0.0  0.0  0.0  Idle
1  0.0  0.0  0.0  Idle
2  0.0  0.0  0.0  Idle
3  0.0  0.0  0.0  Idle
4  0.0  0.0  0.0  Idle

In [4]:
dataJump = pd.read_csv('Jump.txt', sep=",", header=None)
dataJump.columns = ["x", "y", "z"]
dataJump['x'] = dataJump['x'].map(lambda x: x.lstrip('('))
dataJump['z'] = dataJump['z'].map(lambda x: x.rstrip(')'))
dataJump['Type'] = 'Jump'
dataJump.head()

      x    y     z  Type
0  -0.1  0.0   0.0  Jump
1  -0.1  0.0   0.0  Jump
2  -0.1  0.0   0.0  Jump
3  -0.1  0.0   0.0  Jump
4  -0.1  0.0   0.0  Jump

In [5]:
data = datawalk
data.append(dataidle)
data.append(dataJump)

         x    y      z  Type
0      0.0  0.0   -0.1  Walk
1      0.0  0.0   -0.1  Walk
2      0.0  0.0   -0.1  Walk
3      0.0  0.0   -0.1  Walk
4      0.0  0.0   -0.1  Walk
...    ...  ...    ...   ...
1143  -0.1  0.0    0.0  Jump
1144  -0.1  0.0    0.0  Jump
1145  -0.1  0.0    0.0  Jump
1146  -0.1  0.0    0.0  Jump
1147  -0.1  0.0    0.0  Jump

[2528 rows x 4 columns]

In [7]:
y = data['Type'].values
X = data[['x','y','z']]

##data is splitted for train and test